@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
 background-color: rgb(115, 182, 61);
}
.RPS img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.choice-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 100px;
}
.choice
{
    height: 150px;
    width: 150px;
    gap: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    border:none;
    background-color: rgb(100, 155, 55);
}
.choice:hover {
    cursor:grab;
    background-color: #18c912;
    box-shadow: 10px 10px 0px #0b5008;
    top:-5px;
    left:-5px;
  }
.choice img {
    height: 120px;
    width: 300px;
    object-fit: fill;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
  }
  .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:4rem;
    margin-left: 30rem;
    margin-right: 30rem;
    gap: 14rem;
    border: none; 
  }
  
  #user-score,
  #computer-score ,#draw-score{
    font-size: 4rem;
  }
  .msg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    
  }
  
  #msg {
    background-color: #0eee2c;
    color: #000000;
    font-size: 2rem;
    display: inline;
    padding: 10px;
    border-radius: 1rem;
  }
  #resetButton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

#resetButton:hover {
    background-color: #00ff73; 
    box-shadow: 0 0 5px #00eeff,0 0 25px #00eeff,0 0 50px #00eeff, 0 0 200px #00eeff;
}

